

# будет игнорироваться каталог out 
out/
# будут игнорироваться все файлы и каталоги Thumbs.db 
Thumbs.db
# будет игнорироваться каталог tmp 
tmp/
/tmp/
# будут игнорироваться все файлы и каталоги с расширением .txt 
*.txt